@import "../../App.scss";
.Portfolio {
  @include flex-centerd(flex, center, center, column);
  margin-top: 7rem;
  background-image: url("../../assets/portfolio-bg.webp");
  background-repeat: no-repeat;
  background-position: right 37% bottom 60%;
  @include media(560px) {
    margin-top: 8rem;
  }
}
.portfolio-header {
  @include flex-centerd(flex, center, center, column);
  span {
    color: $white;
  }
  h1 {
    word-wrap: break-word;
    line-height: 0;
    @include font(121.99px, $white, 300);
    @include media(600px) {
      font-size: 28px;
    }
  }
  h4 {
    @include font(25px, $green, 700);
    margin-bottom: 1rem;
  }
  p {
    color: $white;
    width: 70%;
    margin-top: 0;
    line-height: 1.5;
    font-size: 16px;
  }
  @include media(500px) {
    margin-top: 3rem;
  }
}
.portfolio-nav {
  margin-top: 60px;
  padding: 0;
  @include media(1000px) {
    justify-content: center;
  }
  @include media(600px) {
    gap: 30px;
  }
  .nav-items {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    color: $white;
    font-weight: 300;
    @include media(650px) {
      gap: 15px;
      flex-wrap: wrap;
      flex-direction: column;
    }
    button {
      background: none;
      border: none;
      color: white;
      font-weight: 400;
      cursor: pointer;
      font-size: 16px;
      opacity: 0.8;
      &.active {
        border-bottom: 2px solid $green;
        font-weight: 700;
      }
    }
  }
}
.portfolio-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 3rem;
  gap: 8rem 10rem;
  width: 80%;
  div {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    img {
      display: block;
      width: 100%;
      height: auto;
      transition: transform 0.3s ease;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
  @include media(1051px) {
    width: 90%;
    gap: 7rem 3rem;
  }
  @include media(800px) {
    width: 90%;
    gap: 7rem 3rem;
    grid-template-columns: 1fr;
  }
  @include media(560px) {
    grid-template-columns: 1fr;
    width: 80%;
  }
}
.button-container {
  margin-top: 20px;
  text-align: center;
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #17b0ac;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #169c98;
    }
  }
}
.startNewProjectText {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 15px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(2933%)
    hue-rotate(228deg) brightness(113%) contrast(100%);
}
.startNewProject {
  margin-left: auto;

  @include media(850px) {
    margin-left: 0%;
    margin-top: 4rem;
  }
}
.startNewProject-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.rotatingText {
  animation-name: rotate-circle;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}
.startNewProject-dotSmall {
  filter: brightness(0) saturate(100%) invert(59%) sepia(33%) saturate(6084%)
    hue-rotate(142deg) brightness(98%) contrast(82%);
}
.rotatingText:hover{
  transform: rotate(-1turn) scale(1.3);
}
@media only screen and (max-width: 650px) {
  .Portfolio {
    margin-top: 0;
  }
}
.hidden {
  display: none;
}
