.KeyValueCard {
    z-index: 1;
    width: 22%;
}

.kvc-container h2 {
    font-weight: 500;
    color: #17C3B7;
}

.kvc-container p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}