@import "../../index.scss";

.Clients {
  width: 100vw;
  @include flex-centerd(column, center, center);
}
.Clients > h1 {
  @include font(36px, $white, 400);
}
.Clients > h1 > span {
  @include font(36px, $green, 900);
}
.logo-container {
  width: 100vw;
}
.logo-1 {
  // height: 7rem;
  width: 7rem;
  overflow: hidden;
  margin-right: 5rem;
  @include media(700px) {
    width: 4rem;
    margin-right: 3rem;
  }
  @include media(500px) {
    width: 3rem;
  }
}
.logo-1 img {
  width: 100%;
  height: 100%;
}
.logo-2 {
  height: 7rem;
  margin-right: 5rem;
}
.logo-2 img {
  @include wh();
}
.marq-1 {
  margin: 6rem 0rem 8rem 0rem;
  @include media(500px) {
    margin: 3rem 0rem 4rem 0rem;
  }
}
.logo-2::before,
.logo-2::after {
  --scale: 0;
  height: 25px;
  position: absolute;
  background: $background-secondary;
  color: $green;
  margin-top: 0.5rem;
  transform: translateY(-0.5rem) scale(var(--scale));
}
.logo-1::before,
.logo-1::after {
  --scale: 0;
  height: 25px;
  position: absolute;
  background: $background-secondary;
  color: $green;
  margin-top: 0.5rem;
  transform: translateY(-0.5rem) scale(var(--scale));
}
.argon::before {
  content: attr(data-tooltip);
  border-radius: 0.3rem;
  text-align: center;
  max-width: 100%;
  padding: 0.5rem;
  top: 0.25rem;
  width: max-content;
}
.lorem::before {
  content: attr(data-tooltip);
  border-radius: 0.3rem;
  text-align: center;
  max-width: 100%;
  padding: 0.5rem;
  width: max-content;
}
.squared-io::before {
  content: attr(data-tooltip);
  border-radius: 0.3rem;
  text-align: center;
  max-width: 100%;
  padding: 0.5rem;
  width: max-content;
}
.wrencho::before {
  content: attr(data-tooltip);
  border-radius: 0.3rem;
  text-align: center;
  max-width: 100%;
  padding: 0.5rem;
  width: max-content;
}
.logo-1:hover::before {
  --scale: 1;
}
.logo-2:hover::before {
  --scale: 1;
}

.marquee-container {
  overflow-x: visible !important;
  overflow-y: hidden;
}
