.about {
  width: 100%;
  height: 100vh;
}
/* styling the top middle cube */
.atmc {
  position: absolute;
  top: 138%;
  left: 46%;
}
/* styling the first tilted image */
.tilt-1 {
  width: 25%;
  margin-left: 43.6%;
  transform: matrix(0.99, -0.13, -0.16, 0.99, 0, 0);
  transition: all 0.3s ease;
}
.tilt-1:hover{
  transform: matrix(0.99, 0, 0, 0.99, 0, 0);
  transform: scale(1.5);
}
/* styling the main container */
.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20vh;
  margin-left: 1.5vw;
  width: 90vw;
  height: 80vh;
}
/* styling the left container having the laptop */
.left-container {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}
/* styling the laptop */
.left-container .laptop {
  width: 35vw;
}
/* styling the right container */
.right-container {
  margin-left: -10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}
/* styling the inner icons of the right container */
.right-container .about-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
}
.about-child.first{
  margin-left: -20px !important;
}
.about-child.first img {
  width: 164px;
  height: 156px;
  padding-left: 0.6rem;
}
.about-child.second img {
  width: 118px;
  height: 118px;
  padding-left: 2.3rem;
}
.about-child.third img {
  width: 105px;
  height: 105px;
  padding-left: 3.5rem;
}
/* styling the text int the lhs of the icons */
.child-text-1{
  padding-left: 3.2rem;
}
.child-text-1 span {
  color: #17b0ac;
  font-weight: 600;
  font-size: 32px;
}
.child-text-1 p{
    color: white;
    font-size: 28px;
    margin: 0;
}
.child-text-2{
    margin-left: 2rem;
  }
.child-text-2 span {
    color: #17b0ac;
    font-weight: 600;
    font-size: 32px;
  }
  .child-text-2 p{
    color: white;
    font-size: 28px;
    margin: 0;
  }
  .child-text-3{
    margin-left: 1rem;
    padding-top: 1rem;
  }
  .child-text-3 span {
    color: #17b0ac;
    font-weight: 600;
    font-size: 32px;
  }
  .child-text-3 p{
    color: white;
    font-size: 28px;
    margin: 0;
  }

  /* this animation is used to float the tilt image from title page to about page */
  @keyframes floating
  {
    from{
      
    }
    to{

    }
  }