.Footer {
  background-color: #1d2c48;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 3rem 0;
}

.right-text a {
  color: white;
  z-index: 10;
  font-size: 22px;
  text-decoration: none;
  border-bottom: 1px solid #17c3b7;
  width: fit-content;
  margin-bottom: 0.7rem;
}

.right-text small {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

.socials a {
  text-decoration: none;
  font-size: 25px;
  margin-right: 0.7rem;
  color: white;
  border-bottom: 1px solid #17c3b7;
}

.ba-card {
  width: 202px;
  height: 191px;
  transition: all ease-out 0.3s;
  position: absolute;
}

.ba-rectangle-1 {
  background: #17c3b7;
  transform: rotate(17.82deg);
  left: 27%;
  top: -10%;
  z-index: 1;
}

.ba-card:hover {
  transform: translateY(-120px) rotate(-10deg);
}

.ba-rectangle-2 {
  background: #fff;
  transform: rotate(3.58deg);
  left: 32%;
  top: -30%;
}

.ba-rectangle-3 {
  background: #0d2156;
  transform: rotate(-20.64deg);
  left: 37%;
  top: -20%;
}

.ba-rectangle-4 {
  background: #9d9a9a;
  transform: rotate(-3.15deg);
  top: -30%;
  left: 47%;
  z-index: 2;
}

.ba-rectangle-5 {
  background: #17c3b7;
  transform: rotate(15.73deg);
  left: 49%;
  top: -30%;
}

.ba-rectangle-6 {
  background-color: #0f1830;
  transform: rotate(-18.91deg);
  left: 57%;
  top: -30%;
  z-index: 3;
}
.right-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}