@import "../../index.scss";
.Footer-container {
  background-color: $background-secondary;
  width: 100vw;
  position: relative;
  margin-top: 15rem;
  @include flex-centerd();
}
.footer {
  @include flex-centerd(flex, space-between, center, row);
  width: 90%;
  padding: 2rem 0;
  flex-wrap: wrap; 
}
@media (max-width: 1200px) {
  .Footer-container {
    margin-top: 8rem;
  }
  .footer {
    width: 95%;
  }
}
@media (max-width: 992px) {
  .Footer-container {
    margin-top: 8rem;
  }
  .footer {
    width: 100%;
    padding: 1.5rem 0;
    flex-direction: column; 
    text-align: center; 
  }
}
@media (max-width: 768px) {
  .Footer-container {
    margin-top: 2rem;
  }
  .footer {
    width: 100%;
    padding: 1rem 0;
    flex-direction: column; 
    text-align: center; 
  }
}
@media (max-width: 540px) {
  .Footer-container {
    margin-top: 6rem;
  }
  .footer {
    width: 100%;
    padding: 1rem 0;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .Footer-container {
    margin-top: 8rem;
  }
  .footer {
    width: 100%;
    padding: 1rem 0;
    flex-direction: column;
    text-align: center;
  }
}
.right-text {
  @include flex-centerd(flex, center, center, column);
  a {
    z-index: 10;
    text-decoration: none;
    width: fit-content;
    margin-bottom: 0.7rem;
    @include font(22px, $white);
    transition: border-bottom 0.3s ease;
    &:hover {
      border-bottom: 1px solid $green;
    }
  }
  small {
    color: $gray;
    font-size: 12px;
  }
}
.socials {
  @include flex-centerd(flex, space-between, center);
  width: 12rem;
  a {
    text-decoration: none;
    border-bottom: 1px solid $green;
    @include font(25px, $white);
    transition: color 0.3s ease;
    &:hover {
      color: $green;
    }
  }
}
.ba-card,
.ba-card-back {
  width: 202px;
  height: 191px;
  transition: transform 0.3s ease-in-out, color 0.3s ease;
  position: absolute;
  cursor: pointer;
  color: white;
  @include flex-centerd();
  h1 {
    font-size: 24px;
    display: none;
  }
  &:hover {
    transform: translateY(-130px) rotate(-10deg);
    h1 {
      display: block;
    }
  }
}
.ba-rectangle-1 {
  background: $green;
  transform: rotate(17.82deg);
  left: 27%;
  top: -15%;
  z-index: 1;
}
.ba-rectangle-2 {
  background: $white;
  transform: rotate(3.58deg);
  left: 32%;
  top: -40%;
  &:hover {
    h1 {
      color: black;
    }
  }
}
.ba-rectangle-3 {
  background: $blue;
  transform: rotate(-20.64deg);
  left: 37%;
  top: -45%;
}
.ba-rectangle-4 {
  background: $light-gray;
  transform: rotate(-3.15deg);
  top: -25%;
  left: 47%;
  z-index: 2;
}
.ba-rectangle-5 {
  background: $green;
  transform: rotate(15.73deg);
  left: 49%;
  top: -45%;
 &:hover {
    h1 {
      color: white;
    }
  }
}
.ba-rectangle-6 {
  background-color: $dark-blue;
  transform: rotate(-18.91deg);
  left: 57%;
  top: -25%;
  z-index: 3;
}
@media only screen and (max-width: 1164px) {
  .bottom-anime {
    display: none;
  }
  .footer {
    flex-direction: column;
  }
  .socials {
    margin-bottom: 1rem;
  }
}