.Footer-container {
  background-color: #1d2c48;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 15rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 2rem 0;
}

.right-text a {
  color: white;
  z-index: 10;
  font-size: 22px;
  text-decoration: none;
  /* border-bottom: 1px solid #17c3b7; */
  width: fit-content;
  margin-bottom: 0.7rem;
}

.right-text a:hover {
  border-bottom: 1px solid #17c3b7;
}

.right-text small {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
}

.socials a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  border-bottom: 1px solid #17c3b7;
}

.ba-card,
.ba-card-back {
  width: 202px;
  height: 191px;
  transition: 0.3s ease-in-out;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ba-rectangle-1 {
  background: #17c3b7;
  transform: rotate(17.82deg);
  left: 27%;
  top: -15%;
  z-index: 1;
}

#bottom-anime {
  border: 1px solid red;
}
.ba-card-hover {
  transform: translateY(-130px) rotate(-10deg) !important;
}

.ba-card h1 {
  font-size: 24px;
  display: none;
}
.ba-card-hover > h1 {
  display: block;
}
.ba-card-back h1 {
  font-size: 24px;
}

.ba-rectangle-2 {
  background: #fff;
  transform: rotate(3.58deg);
  left: 32%;
  top: -40%;
}

.ba-rectangle-3 {
  background: #0d2156;
  transform: rotate(-20.64deg);
  left: 37%;
  top: -45%;
}

.ba-rectangle-4 {
  background: #9d9a9a;
  transform: rotate(-3.15deg);
  top: -25%;
  left: 47%;
  z-index: 2;
}

.ba-rectangle-5 {
  background: #17c3b7;
  transform: rotate(15.73deg);
  left: 49%;
  top: -45%;
}

.ba-rectangle-6 {
  background-color: #0f1830;
  transform: rotate(-18.91deg);
  left: 57%;
  top: -25%;
  z-index: 3;
}
.right-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .bottom-anime {
    display: none;
  }
  .Footer-container {
    margin-top: 7rem;
  }
  .footer {
    flex-direction: column;
  }
  .socials {
    margin-bottom: 1rem;
  }
}
