.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    background-color: #1D2C48;
    padding: 4rem 2rem;
    position: relative;
}

.footer-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.bottom-anime img {
    width: 80%;
    z-index: 0;
    margin-left: -1rem;
}

.footer-link {
    margin-bottom: 6rem;
}

.footer-link a{
    color: white;
    z-index: 10;
    font-size: 28px;
    text-decoration: none;
    border-bottom: 1px solid #17C3B7;
}

.social-links {
    width: 20%;
}

.social-links a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 0.7rem;
    color: white;
    border-bottom: 1px solid #17C3B7;
}

.copyright {
    width: 20%;
}

.copyright p {
    margin: 0;
    color: white;
    font-size: 14px;
}

.copyright small{
    color: rgba(255, 255, 255, 0.6);
    font-size: 10px;
}