@import "../../App.scss";

.PortfolioCard {
  border-image: linear-gradient(#aaaaaa67, #ffffff00) 30;
  border-width: 1px;
  border-style: solid;
  height: 50vh;
  margin-top: 5rem;
  position: relative;
  @include media(1400px) {
    height: 45vh;
  }
  @include media(1300px) {
    height: 40vh;
  }
  @include media(1200px) {
    height: 35vh;
  }
  @include media(1100px) {
    height: 30vh;
  }
  @include media(900px) {
    height: 30vh;
  }
  @include media(800px) {
    height: 30vh;
  }
  @include media(560px) {
    height: 45vh;
  }
  @include media(500px) {
    height: 30vh;
  }
  @include media(400px) {
    height: 30vh;
  }
}

.portfolio-card-container {
  height: 100%;
  width: 100%;
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.portfolio-card-container .img-zoom {
  scroll-snap-align: start;
  height: 80%;
  width: 80%;
  
  margin-top: 20px;
}

.project-icon-img{
  height: 10px;
  width: 10px;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

// .mobile-card {
//   & > :nth-child(1) {
//     position: relative !important;
//     & > img {
//       display: block !important;
//       width: 35% !important;
//       margin: 0 auto;
//       @include media(400px) {
//         width: 45% !important;
//       }
//     }
//   }
// }
.portfolio-card-container .img-zoom {
  & > :nth-child(1) {
    height: 100% !important;
    & > img {
      height: 100% !important;
    }
  }
}

// .details {
//   @include flex-centerd(flex, center, center, column);
//   display: none;
//   position: absolute;
//   left: 0;
//   z-index: 1;
//   width: 100%;
//   height: 100%;
//   background-color: $dark-blue-bg;
//   border-radius: 10px;
//   text-align: center;
//   filter: drop-shadow(4.89751px 4.89751px 3px $teal);
//   transition: all ease-in 0.3s;
//   @include media(920px) {
//     justify-content: start;
//     overflow: scroll;
//   }
// }

// .tech-stack {
//   width: 90%;
//   @include flex-centerd();
//   flex-wrap: wrap;
//   padding: 0;
//   margin-top: 2rem;
// }

.skill {
  @include media(900px) {
    font-size: 9px;
  }
  @include media(700px) {
    font-size: 8px;
  }
  @include media(560px) {
    font-size: 10px;
  }
  @include font(14px, $white !important);
}


// .details h1 {
//   color: $green;
//   margin: 0;
// }

// .details p {
//   width: 70%;
//   color: $white;
// }

// .pc-btn,
// .pc-close {
//   background-color: transparent;
//   border: none;
//   color: $green;
//   margin-top: 1rem;
//   cursor: pointer;
// }

// .pc-btn:hover,
// .pc-close:hover {
//   color: $green;
// }

// .pc-close {
//   margin-top: 2rem;
// }

.next,
.prev {
  position: absolute;
  bottom: 0%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: $white;
  border-radius: 30px;
  border: none;
  color: black;
  z-index: 1;
}
.portfolio-class-title{
  position: absolute;
  bottom: 0%;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  @include media(560px) {
    font-size: 10px;
    margin-bottom: 10px;
  }
  @include media(1300px) {
    font-size: 13px;
    margin-bottom: 13px;
  }
  @include media(460px) {
    font-size: 10px;
    margin-bottom: 0px;
  }
}

.prev {
  right: 4.5rem;
}

.next {
  right: 1rem;
}

.zoom-container {
  div {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 960px) {
  .zoom-container {
    display: none;
  }
}

.project-description{
  font-size: 0.9vw;
  height: 10vh;
  font-weight: 400;
  white-space: pre-wrap;
  text-align: start;
  margin-top:30px;
  @include media(560px) {
    font-size: 15px;
  }
  @include media(1000px) {
    font-size: 7px;
  }
 
  // @include media(650px) {
  //   font-size: 10px;
  // }
  // @include media(560px) {
  //   font-size: 20px;
  // }
}

.portfolio-card-header {
  color: gray;
  font-weight: 400;
  padding: 0;
  text-align: start;
}
.portfolio-tech-list {
  padding: 0;
}
.tech-list-item {
  display: flex;
  flex-direction: row;
  line-height: 0;
}

.techStack-logo{
  @include media(1200px) {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
  }
  @include media(560px) {
    width: 15px;
    height: 15px;
    margin: 0px;
  }
}

.techStack-logo image{
  @include media(1200px) {
    width: 15px;
    height: 15px;
  }
  @include media(560px) {
    width: 15px;
    height: 15px;
    margin: 0px;
  }
}

.project-details{
  display: flex;
  flex-direction: row;
}

.project-logo{
  margin: 15px;
  @include media(1200px) {
      width: 25px;
      height: 25px;
      margin: 0;
      padding: 0;
    }
    @include media(560px) {
      width: 30px;
      height: 30px;
      margin: 10px;
    }
    @include media(560px) {
      width: 30px;
      height: 30px;
      margin: 0px;
    }
}

.project-logo image{
  @include media(1200px) {
    width: 25px;
    height: 25px;
  }
  @include media(560px) {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
}
