@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap");
.App {
  text-align: center;
  background-color: #040E27;
  font-family: "Poppins", sans-serif;
}

